canvas {
  padding: 0;
  margin: auto;
  display: block;
  position: relative;
}

#title {
  text-align: center;
}

#player1 {
  position: relative;
  display: inline-block;
  margin-left: 230px;
}

#player2 {
  position: relative;
  display: inline-block;
  margin-left: 781px;
}
